@page
@model StockManager.Pages.Stock.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Stock.StockID" />
            <div class="form-group">
                <label asp-for="Stock.StockCode" class="control-label"></label>
                <input asp-for="Stock.StockCode" class="form-control" />
                <span asp-validation-for="Stock.StockCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock.SupplierRef" class="control-label"></label>
                <input asp-for="Stock.SupplierRef" class="form-control" />
                <span asp-validation-for="Stock.SupplierRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Stock.DeadCode" /> DeadCode
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Stock.Clearance" /> Clearance
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Stock.ZeroQty" /> ZeroQty
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Stock.Season" class="control-label"></label>
                    @Html.DropDownListFor(m => m.Stock.Season, new SelectList(Enum.GetValues(typeof(StockManager.Models.Stock.SType))), "Select Season")
                <span asp-validation-for="Stock.Season" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock.AmtTaken" class="control-label"></label>
                <input asp-for="Stock.AmtTaken" class="form-control" />
                <span asp-validation-for="Stock.AmtTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock.DeliveredQty" class="control-label"></label>
                <input asp-for="Stock.DeliveredQty" class="form-control" />
                <span asp-validation-for="Stock.DeliveredQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock.CostValue" class="control-label"></label>
                <input asp-for="Stock.CostValue" class="form-control" />
                <span asp-validation-for="Stock.CostValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock.PCMarkUp" class="control-label"></label>
                <input asp-for="Stock.PCMarkUp" class="form-control" />
                <span asp-validation-for="Stock.PCMarkUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock.CreatedBy" class="control-label"></label>
                <input asp-for="Stock.CreatedBy" class="form-control" />
                <span asp-validation-for="Stock.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock.CreatedDate" class="control-label"></label>
                <input asp-for="Stock.CreatedDate" class="form-control" />
                <span asp-validation-for="Stock.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
